__pycache__/
stored/
.env
configs/
attachments/
allowedmods.py
conversations.json
convnames.json
conversations.dat
convnames.dat
conversations.db.dir
conversations.db.dat
convnames.db.dir
conversations.db.bak
convnames.db.bak
convnames.db.dat
conversations.dir
convnames.dir
conversations.bak
convnames.bak

# Ignore everything in the conversations and convnames directories...
conversations/*
convnames/*
configs/*

# ...except for the .gitkeep files
!conversations/.gitkeep
!convnames/.gitkeep
!configs/.gitkeep

banned.txt

# ignore this
psychologistnotes.md