body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

#total {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

#sidebar {
  width: 20%;
  min-width: 300px; /* Set a minimum width to prevent the sidebar from becoming too narrow */
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  max-height: 100vh;
}

#chat-container {
  flex: 1; /* Make the chat container take up remaining space */
  padding: 20px;
  box-sizing: border-box;
  max-height: 100vh;
}

#status-bar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 20px;
}

#chat-box {
  height: 70vh;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: inherit;
  flex-shrink: 1;
}

#input-container {
  margin-top: 20px;
  height: 60px;
}

#chat-input {
  width: calc(100% - 70px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  padding: 20px;
  resize: none;
  min-height: 80px;
}

/* Custom scrollbar for chat input */
#chat-input::-webkit-scrollbar {
  width: 10px;
}

#chat-input::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 5px;
}

#chat-input::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

#chat-input::-webkit-scrollbar-thumb:hover {
  background-color: #9c9c9c;
  border-radius: 10px;
}

#chat-input::-webkit-scrollbar-thumb:active {
  background-color: #dcdcdc;
}

#send-button {
  width: 60px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #8346f3;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: top;
  font-size: 16px;
}

#send-button:hover {
  background-color: #7e4ce9;
}

#new-conv-button {
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
  color: #434343;
  cursor: pointer;
  width: 100%;
  font-weight: bolder;
  height: 50px;
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-family: inherit;
}

#new-conv-button:hover {
  background-color: #e0e0e0;
  border-left: 3px solid #8346f3;
}

#new-conv-button:disabled {
  cursor: not-allowed;
  background-color: #ababab;
  color: #434343;
}

#new-conv-button:disabled:hover {
  background-color: #9d9d9d;
  border-left: none;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* existing styles */
  font-family: inherit;
  width: 300px;
}

#user_info {
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 5px;
  padding: 10px;
}

#user_info:hover {
  cursor: pointer;
  background-color: #dedede;
}

#user_info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

#user_info #user_name {
  font-weight: bold;
  font-family: inherit;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-family: inherit;
}

.message.ASSISTANT {
  border-left: 3px solid #8346f3;
  padding-left: 15px;
}

:disabled {
  cursor: not-allowed;
  background-color: #e6e6e6;
  color: #434343;
}

#send-button:disabled {
  background-color: #55475a;
  color: #ffffff;
  cursor: not-allowed;
}

.infocontainer {
  display: flex;
  align-items: left;
}

.infocontainer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.infocontainer .username {
  font-weight: bold;
  font-family: inherit;
  vertical-align: middle;
  margin-top: 5px;
}

/* Table styles */
#chat-box table {
  width: 100%;
  border-collapse: collapse;
}

#chat-box th {
  background-color: #f0f0f0;
  padding: 10px;
  font-family: inherit;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #f0f0f0;
}

#chat-box td {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px;
  font-family: inherit;
  text-align: left;
}

#chat-box tr:hover {
  background-color: #f9f9f9;
}

#chat-box th:first-child,
#chat-box td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 20px;
}

#chat-box th:last-child,
#chat-box td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 20px;
}

#chat-box tr {
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#chat-box tr:hover {
  background-color: #f9f9f9;
}

/* Table styles */
#chat-box table {
  width: 100%;
  border-collapse: separate; /* Use 'separate' to apply spacing between cells */
  border-spacing: 0; /* Optional: Adjust spacing between cells */
}

#chat-box th, #chat-box td {
  border: 1px solid #ccc; /* Add border to each cell */
  padding: 10px;
  font-family: inherit;
  text-align: left;
}

#chat-box th {
  background-color: #e6e6e6; /* Different background color for header */
  font-weight: bold;
}

.msgbtn {
  color: rgb(255, 0, 0);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: inherit;
  margin-top: 5px;
}

#save-edit {
  background-color: #8346f3;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#conversations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 20px;
  overflow: hidden;
}

#conversations #conversations-list {
  height: 100%;
  max-height: 100%;
  font-family: inherit;
}

#conversations-list {
  position: relative;
  overflow-y: scroll;
}

#conversations-list::-webkit-scrollbar {
  width: 10px;
}

#conversations-list::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 5px;
}

#conversations-list::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

#conversations-list::-webkit-scrollbar-thumb:hover {
  background-color: #e6e6e6;
  border-radius: 10px;
}

#conversations-list::-webkit-scrollbar-thumb:active {
  background-color: #dcdcdc;
}

.conversation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-family: inherit;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
  width: 100%;
  text-align: left;
  font-size: 16px;
}
.conversation p,
.conversation button {
  margin: 0;
}

.dropdown {
  display: none;
  position: fixed;
  right: 50;
  top: 50;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 6;
  border-radius: 5px;
}

/* in the dropdown we have custom <option> elements */
.dropdown .conv-control-child {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #434343;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: 10;
}

.dropdown .conv-control-child:hover {
  background-color: #e6e6e6;
}


.conversation button {
  background-color: #f0f0f0;
  color: #434343;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

.conversation button:hover {
  background-color: #e6e6e6;
}

.conversation:hover {
  background-color: #eaeaea;
}

.conversation:disabled {
  cursor: not-allowed;
  background-color: #e6e6e6;
  color: #434343;
}

.messagecontainer {
  margin-bottom: 40px;
}

.msgcontrols {
  /* row aligned to the left */
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  margin-left: 8px;
}

.msgcontrol {
  /* each control is a flex item */
  margin-right: 10px;
  font-size: 15px;
  color: #a0a0a0;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.msgcontrol:hover {
  color: #434343;
}

br {
  display: block;
  margin: 5px 0;
}

#settingsModal {
  /* Center the modal content */
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#settingsModal .settings-item {
  margin-bottom: 20px;
}

#settingsModal button {
  background-color: #8346f3;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#settingsModal button:hover {
  background-color: #7e4ce9;
}

#settingsModal select {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: inherit;
  margin-top: 5px;
}

#settingsModal input[type="range"] {
  width: 100%;
  /* No padding or border for range input */
  border: none;
  padding: 0;
  margin-top: 5px;
}

.secondary {
  color: #000000 !important;
  background-color: #f0f0f0 !important;
}

.secondary:hover {
  background-color: #e6e6e6 !important;
}

.movethehellup {
  margin-bottom: 150px;
}