<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIDA Web Support</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800,900&display=swap">
    <!-- Import CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <div class="container">
        <h1>Frequently Asked Questions</h1>
        <p>Here are some frequently asked questions:</p>
        <div class="faq-item">
            <p class="question">Q: How do I get started with AIDA?</p>
            <p class="answer">A: To get started with AIDA, simply go to the <a href="{{ url_for('index') }}">home page</a> and login with Discord. Then you'll be redirected to the chat page where you can start chatting with AIDA.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: How do I report a bug?</p>
            <p class="answer">A: You can contact us via email at <a href="mailto:ternavski103@gmail.com">ternavski103@gmail.com</a> or message us in The Orange Squad Discord server.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: Why is it required to be a member of The Orange Squad Discord server to use AIDA?</p>
            <p class="answer">A: AIDA is a bot developed by The Orange Squad and is only available to members of the server. This is to ensure that the bot is used by trusted users.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: Why is AIDA not responding to my messages?</p>
            <p class="answer">A: AIDA may be offline or experiencing issues. Sometimes the bot simply takes a while to respond if the prompt is complex. Also, slow responses may be caused by Image Generation and Web Search settings (if enabled).</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: Why have I been banned from using AIDA?</p>
            <p class="answer">A: You may have been banned from using AIDA for violating the rules of The Orange Squad Discord server. If you believe this is a mistake, you can contact us via email or Discord.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: Where are the settings for AIDA?</p>
            <p class="answer">A: First, you need to click your account in the chat interface. Then select "Settings" in the menu and you're good to go.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: Why is AIDA named AIDA?</p>
            <p class="answer">A: AIDA stands for Artificially Intelligent Discord Assistant. The name was chosen because it reflects the purpose of the bot, which was the original idea behind its development.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: What are AIDA Tokens?</p>
            <p class="answer">A: AIDA Tokens are a virtual currency used to generate messages and images. You can buy AIDA Tokens in the shop in The Orange Squad Discord server (using Orange Coins).</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: What if I run out of AIDA Tokens?</p>
            <p class="answer">A: If you run out of AIDA Tokens, you will not be able to generate messages or images. You can buy more AIDA Tokens in the shop in The Orange Squad Discord server.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: AIDA accidentally generated an inappropriate message. What should I do?</p>
            <p class="answer">A: If AIDA generates an inappropriate message, you can report it to us via email or Discord. We will take action to prevent similar messages from being generated in the future.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: Where can I find the source code for AIDA?</p>
            <p class="answer">A: You can find the source code for AIDA on <a href="https://github.com/LyubomirT/aidaweb">GitHub</a>.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: How can I contribute to AIDA?</p>
            <p class="answer">A: You can contribute to AIDA by submitting a pull request on GitHub. You can also suggest new features or report bugs by contacting us via email or Discord.</p>
        </div>
    </div>
    <div class="container">
        <h1>Need Help?</h1>
        <p>If you need help with AIDA, you can contact us via email at <a href="mailto:ternavski103@gmail.com">ternavski103@gmail.com</a>, or message us in <a href="https://discord.gg/9XTyEPy7Dj">The Orange Squad Discord server</a>.</p>
    </div>
</body>
</html>
