<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AIDA Web Client</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap">
<!-- Markdown GitHub CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
<script>
  MathJax = {
    options: {
      enableMenu: false,
    },
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
    },
  };
</script>
</head>
<body>
<img src="{{ url_for('static', filename='img/assistant.png') }}" alt="Assistant" id="assistant-hidden" style="display: none;">
<!-- Modal Dialog for Edit -->
<div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close" id="edit-modal-close">&times;</span>
    <textarea id="edit-message" rows="4" cols="50"></textarea>
    <button id="save-edit">Save</button>
  </div>
</div>
<div id="errorModal" class="modal">
  <div class="modal-content">
    <span class="close" id="error-modal-close">&times;</span>
    <p id="error-message"></p>
  </div>
</div>
<div id="svgimport">
  <p id="regen" style="display: none;">{{ url_for('static', filename='svg/refresh.svg') }}</p>
</div>
<div id="total">
<div id="sidebar">
  <button id="new-conv-button">Start New Conversation</button>
  <div id="conversations">
    <div id="conversations-list">
      <!-- Will be added here after verification -->
    </div>
  </div>
  <!-- Divider -->
  <hr>
  <div id="user_info">
    <img id="user_avatar" alt="User Avatar" />
    <div id="user_name"></div>
  </div>
</div>
<div id="chat-container">
  <div id="status-bar">
    <div id="status-text">Untitled (?)</div>
  </div>
  <div id="chat-box">
    {% for message in chat_history %}
      <div class="{{ message['role'] }} message">{{ message['message'] }}</div>
    {% endfor %}
  </div>
  <div id="input-container">
    <textarea id="chat-input" placeholder="Type your message here..."></textarea>
    <button id="send-button">Send</button>
  </div>
</div>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</body>
</html>
