<!DOCTYPE html>
<html>
<head>
  <title>Login With Discord (test)</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="login-btn">
    <a href="https://discord.com/oauth2/authorize?client_id=1155512630627270727&response_type=token&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fauth%2Fdiscord%2Fcallback&scope=identify+guilds+guilds.members.read">
      <img src="https://seeklogo.com/images/D/discord-logo-7A1EC3216C-seeklogo.com.png" alt="Login With Discord">
    </a>
</html>