<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Bard (test)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h1>Welcome to AIDA Web</h1>
            <p>To chat with AIDA, please login with your Discord account.</p>
            <a href="https://discord.com/oauth2/authorize?client_id=1155512630627270727&response_type=token&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fauth%2Fdiscord%2Fcallback&scope=identify+guilds+guilds.members.read" class="discord-btn">
                <img src="https://seeklogo.com/images/D/discord-logo-7A1EC3216C-seeklogo.com.png" alt="Login With Discord">
                Login with Discord
            </a>
        </div>
    </div>
</body>
</html>
